################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/data-structures-assignment/CopilotIndices/17.13.433.20974
/.vs
